@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import 'responsive';

* {
  font-family: 'Allerta Stencil', sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background: url("../img/bulletgrounds_background.png");
  background-size: 100% 100%;
}

#wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  section {
    width: 100%;
    height: 100vh;
  }
  #one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #homeSmIcons {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 20%;
      i {
        color: #fff;
        margin: 0 10px;
        font-size: 40px;
        &:hover {
          transition: 0.2s;
          color: rgb(177, 177, 177);
        }
      }
    }
    #arrowWrapper {
      position: absolute;
      bottom: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 22px;
        color: #fff;
      }
      i {
        color: #fff;
        font-size: 26px;
        cursor: pointer;
        }
      }
    }
    #two {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        h2 {
          position: absolute;
          top: 10%;
          left: 10%;
          font-size: 32px;
        }
        p {
          font-size: 26px;
          position: absolute;
          top: 20%;
          left: 10%;
        }
      }
      ul {
        position: absolute;
        top: 30%;
        left: 10%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        #heading {
          p {
            font-size: 22px;
            text-decoration: underline;
          }
        }
        li {
          margin-bottom: 20px;
          p {
            font-size: 18px;
          }
        }
      }
    }
    #three {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      h2 {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 32px;
      }
      #GalleryWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        .galleryImageWrapper {
          width: 500px;
          height: 250px;
          .galleryImage {
            width: 500px;
            height: 250px;
            cursor: pointer;
          }
        }
      }
    }
    #four {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      h2 {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 32px;
      }
      #subtitle {
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 26px;
      }
      h3 {
        position: absolute;
        top: 25%;
        left: 10%;
        font-size: 26px;
      }
      ul {
        position: absolute;
        top: 43%;
        left: 10%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          a {
            padding: 0;
            margin-left: 10px;
            text-decoration: underline;
            color: #fff;
            font-size: 18px;
          }
          p {
            margin-left: 10px;
            text-decoration: underline;
            font-size: 18px;
          }
          .pHeading {
            font-size: 22px;
            text-decoration: none;
          }
        }
        #linkHeading {
          p {
            font-size: 26px;
          }
        }
      }
      #smIcons {
        position: absolute;
        top: 33%;
        left: 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        a {
          text-decoration: none;
          color: #fff;
          text-align: center;
          transition: 0.2s;
          i {
            font-size: 36px;
          }
        }
        #discord:hover {
          color: lighten(#7289DA, 15%);
        }
        #reddit:hover {
          color: lighten(#FF4500, 15%);
        }
        #twitter:hover {
          color: lighten(#00ACED, 15%);
        }
        #facebook:hover {
          color: lighten(#4867AA, 15%);
        }
        #steam:hover {
          color: lighten(#134B7E, 15%);
        }
        #youtube:hover {
          color: lighten(#FF0000, 15%);
        }
      }
    }

  .alert {
    display: none;
    transition: 0.2s;
    background-color:rgba(37, 196, 37, 0.438);
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    h3 {
      padding: 1em;
    }
  }
  .alert-success {
    display: block;
  }
}

#dotnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 2%;
  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.dotActive {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

#modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  #modalImg-wrapper {
    display: flex;
    width: 80%;
    height: 70%;
    #modalImg {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }
  #modalCloseBtn {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      color: darken(#fff, 5%);
    }
  }
}

#spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgba(32, 32, 32, 1);
  position: fixed;
  width: 100%;
  height: 100vh;
}

.fadeOutSpinner {
  animation: fadeOut 1s;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background-image: linear-gradient(to left top, #e0ba68, #e2b964, #e3b860, #e5b75c, #e7b658);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
